
<footer class="section" >
    <div class="background-footer ">
        <img src="./assets/css/img/footer-top-shape.png" width="100%" alt="css">
    </div>
    <div class="container">
        <div class="form-footer">
            <div class="img-footer">
                <img src="./assets/images/footer/newslater.png" alt="footer">
            </div>
            <div class="Subcribe" >
                <h5 style="color: #5a4bcc;font-weight: 600">Subscribe to Sbidu</h5>
                <h2 style="font-weight: 800">To Get Exclusive Benefits</h2>
                <form method="get" action="#">
                    <input type="email" name="email" placeholder="Enter Your Email">
                    <button type="submit" class="button-submit">SUBCRIBE</button>
                </form>
            </div>
        </div>
        <div class="footer-contact">
            <div >
                <ul>
                    <li><a href="#"> <h4>Auction Categories</h4></a> </li>
                    <li><a href="#">Ending Now</a> </li>
                    <li><a href="#">Vehicles</a> </li>
                    <li><a href="#">Watches</a> </li>
                    <li><a href="#">Electronics</a> </li>
                    <li><a href="#">Real Estate</a> </li>
                    <li><a href="#">Jewelry</a> </li>
                    <li><a href="#">Art</a> </li>
                    <li><a href="#">Sports & Outdoor</a> </li>
                </ul>
            </div>
            <div >
                <ul>
                    <li><a href="#"> <h4>About Us</h4></a> </li>
                    <li><a href="#">About Sbidu</a> </li>
                    <li><a href="#">Help</a> </li>
                    <li><a href="#">Affiliates</a> </li>
                    <li><a href="#">Jobs</a> </li>
                    <li><a href="#">Press</a> </li>
                    <li><a href="#">Our blog</a> </li>
                    <li><a href="#">Collector's Portal</a> </li>
                </ul>
            </div>
            <div >
                <ul>
                    <li><a href="#"> <h4>We're Here to Help</h4></a> </li>
                    <li><a href="#">Your Account</a> </li>
                    <li><a href="#">Safe and Secure</a> </li>
                    <li><a href="#">Shipping Information</a> </li>
                    <li><a href="#">Contact Us</a> </li>
                    <li><a href="#">Help & FAQ</a> </li>
                </ul>
            </div>
            <div >
                <ul>
                    <li><a href="#"> <h4>Follow Us</h4></a> </li>
                    <li>
                        <a href="#0"><i class="fas fa-phone-alt"></i>(646) 663-4575</a>
                    </li>
                    <li>
                        <a href="#0"><i class="fas fa-blender-phone"></i>(646) 968-0608</a>
                    </li>
                    <li>
                        <a href="#0"><i class="fas fa-envelope-open-text"></i>help@engotheme.com</a>
                    </li>
                    <li>
                        <a href="#0"><i class="fas fa-location-arrow"></i>1201 Broadway Suite</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="end-footer">
            <div class="logo">
                <img src="assets/images/logo/logo.png">
            </div>
            <div class="pay-area">
                <ul >
                    <li>
                        <a href="#0"><img src="./assets/images/footer/paypal.png" alt="footer"></a>
                    </li>
                    <li>
                        <a href="#0"><img src="./assets/images/footer/visa.png" alt="footer"></a>
                    </li>
                    <li>
                        <a href="#0"><img src="./assets/images/footer/discover.png" alt="footer"></a>
                    </li>
                    <li>
                        <a href="#0"><img src="./assets/images/footer/mastercard.png" alt="footer"></a>
                    </li>
                </ul>
            </div>
            <div style="padding-top: 30px">
                <ul >
                    <li style="color: white">@Copyright 2021</li>
                    <li style="color: white">|<span style="color: orangered;padding-left: 10px">Sbidu</span>
                        By
                        <span style="color:orangered">
                              Uiaxis
                          </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>