<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>product_detail</title>
    <link rel="stylesheet" href="assets/css/Products_Detail.css">
    <%-include("head.ejs")%>

</head>
<body>
  <header class=" section">
      <div class=" header-top">
          <div class="container" style="display: flex;justify-content: space-between">
       <ul class="header-top-left">
           <li>
               <i class="fas fa-phone-alt"></i><span style="margin-left: 5px">Customor support</span>
           </li>
           <li>
               <i class="fas fa-globe"></i>
                   <form method="get" action="#" style="display: inline;">
                   <select name="language" class="language" style="background: none; color: white;border: none">
                       <option value="English" style="color: black">English</option>
                       <option value="China" style="color: black">China</option>
                       <option value="VietNam"style="color: black"> Viet Nam</option>
                   </select>
                       </form>
           </li>
       </ul>
        <ul class="header-top-right" >
            <li >
                <a class="cast-button" href="#">
                    <i class="flaticon-shopping-basket" style="color: white"></i>
                </a>
            </li>
            <li >
                <a href="#" class="user-button">
                    <i class="flaticon-user" style="color: white"></i>
                </a>
            </li>
        </ul>
          </div>
      </div>
      <div class="header-bottom " id="header-bottom">
          <div class="container" style="display: flex; justify-content: space-between;">
          <div class="logo">
             <img src="assets/images/logo/logo.png">
          </div>
          <div class="menu">
           <ul class="menu-right" >
               <li >
                   <a href="#">Home</a>
               </li>
               <li >
                   <a href="#" >Auction</a>
               </li>
               <li >
                   <a href="#"  class="add page-item">Page</a>
                    <ul class="sub-menu">
                        <li class="add">
                            <a href="#" style="color: black; font-weight: 500">Product</a>
                        </li>
                        <li class="add">
                            <a href="#" style="color: black;font-weight: 500">My Account</a>
                            <ul class="sub-menu-2">
                                <li><a href="#"  style="color: black;font-weight: 500">Sign In</a> </li>
                                <li><a href="#"  style="color: black;font-weight: 500">Sign UP</a> </li>
                            </ul>
                        </li>
                        <li class="add">
                            <a href="#" style="color: black;font-weight: 500">Dash board</a>
                            <ul class="sub-menu-2">
                                <li><a href="#"  style="color: black;font-weight: 500">Dash board</a> </li>
                                <li><a href="#"  style="color: black;font-weight: 500">Personal Profile</a> </li>
                                <li><a href="#"  style="color: black;font-weight: 500">My Bids</a> </li>
                                <li><a href="#"  style="color: black;font-weight: 500">Winning Bids</a> </li>
                                <li><a href="#"  style="color: black;font-weight: 500">My Alert</a> </li>
                                <li><a href="#"  style="color: black;font-weight: 500">My Favorites</a> </li>
                            </ul>
                        </li>
                        <li >
                            <a href="#" style="color: black;font-weight: 500; border-bottom: none">About Us</a>
                        </li>
                    </ul>
               </li>
               <li ><a href="#">Contact</a> </li>
           </ul>
              <form action="#" method="get" class="form-search">
                  <input type="search" name="search" placeholder="Search product on heare"  class="btt-search"/>
                  <button type="submit" class="btn btn-group submit" ><i class="fas fa-search"></i></button>
              </form>
          </div>
          </div>
      </div>
  </header>
  <!--end header by mai huy hoat -->
  <div class="hero"></div>
  <section class="section   " >
    <div class="container">
        <div class="slide">
        <!-- Container for the image gallery -->

            <!-- Full-width images with number text -->
            <div class="mySlides">
                <div class="numbertext">1 / 6</div>
                <img src="assets/images/product/product1.png" style="width:100%">
            </div>

            <div class="mySlides">
                <div class="numbertext">2 / 6</div>
                <img src="assets/images/product/product2.png" style="width:100%">
            </div>

            <div class="mySlides">
                <div class="numbertext">3 / 6</div>
                <img src="assets/images/product/product3.png" style="width:100%">
            </div>

            <div class="mySlides">
                <div class="numbertext">4 / 6</div>
                <img src="assets/images/product/product4.png" style="width:100%">
            </div>

            <div class="mySlides">
                <div class="numbertext">5 / 6</div>
                <img src="assets/images/product/product5.png" style="width:100%">
            </div>

            <div class="mySlides">
                <div class="numbertext">6 / 6</div>
                <img src="assets/images/product/product6.png" style="width:100%">
            </div>

            <!-- Next and previous buttons -->
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>

            <!-- Image text -->
            <div class="caption-container">
                <p id="caption"></p>
            </div>

            <!-- Thumbnail images -->
            <div class="row1">
                <div class="column">
                    <img class="demo cursor" src="assets/images/product/01.png" style="width:100%" onclick="currentSlide(1)" alt="Image of product:1">
                </div>
                <div class="column">
                    <img class="demo cursor" src="assets/images/product/02.png" style="width:100%" onclick="currentSlide(2)" alt="Image of product:2">
                </div>
                <div class="column">
                    <img class="demo cursor" src="assets/images/product/03.png" style="width:100%" onclick="currentSlide(3)" alt="Image of product:3">
                </div>
                <div class="column">
                    <img class="demo cursor" src="assets/images/product/04.png" style="width:100%" onclick="currentSlide(4)" alt="Image of product:4">
                </div>
                <div class="column">
                    <img class="demo cursor" src="assets/images/product/05.png" style="width:100%" onclick="currentSlide(5)" alt="Image of product:5">
                </div>
                <div class="column">
                    <img class="demo cursor" src="assets/images/product/06.png" style="width:100%" onclick="currentSlide(6)" alt="Image of product:6">
                </div>
            </div>
        </div>
    </div>
  </section>
  <section class="section product-detail">
      <div class="container introduce-product">
          <div class="introduce-product-left col-md-8">
             <div class="name-product">
                 <h1>The Breexe Zodiac IX</h1>
                 <ul style="color: dimgray">
                     <li><h6> Listing ID:14076242 |</h6></li>
                     <li><h6> Item #:7300-3356862</h6></li>
                 </ul>
             </div>
             <div class="price">
                <div class="price-detail"style="padding-top:10px ">
                    <h2>Current Price</h2>
                    <h1 style="color: #1e7e34">US $ 700.00</h1>
                </div>
                <div class="price-detail">
                    <h6 style="color: dimgray">Buyer's Premium</h6>
                    <h4 style="color: darkslategray">10.00%</h4>
                </div>
                <div class="price-detail">
                    <h6 style="color: dimgray">Bid Increment(US)</h6>
                    <h4 style="color: darkslategray">$50.00</h4>
                </div>
             </div>
             <div class="submit-bid">
                 <div class="logo-submit ">
                     <img src="assets/images/product/search-icon.png">
                 </div>
                 <div  class="form-submit-abid">
                     <form method="get"action="#">
                         <input type="number" name="price-submit" placeholder="Enter you amount" >
                         <button type="submit"  class="button-submit">Submit A Bid</button>
                     </form>
                 </div>
             </div>
             <div class="buy-now-area">
                 <form method="get" action="#">
                     <button type="submit" class="button-submit">BUY NOW:$4,200</button>
                 </form>
                 <a href="#">
                 <div class="add-wishlist">
                     <i class="fas fa-star" style="color: yellow"></i>
                         Add To Wishlist
                 </div>
                 </a>
                 <div class="share-area">
                     <ul>
                         <li><span style="font-weight: 800;">Share to:</span></li>
                         <li>
                             <a href="#">
                                 <i class="fab fa-facebook-f"></i>
                             </a>
                         </li>
                         <li>
                             <a href="#">
                                 <i class="fab fa-twitter"></i>
                             </a>
                         </li>
                         <li>
                             <a href="#">
                                 <i class="fab fa-linkedin-in" ></i>
                             </a>
                         </li>
                         <li>
                             <a href="#">
                                 <i class="fab fa-instagram" ></i>
                             </a>
                         </li>
                     </ul>
                 </div>
             </div>
          </div>
          <div class="introduce-product-right col-md-3">
              <div id="sidebar-product">
                  <div class="auction-end">
                      <h5>This Auction Ends in:</h5>
                      <p id="time">0d:14h:23m:49s</p>
                  </div>
                  <div>
                      <ul>
                          <li>
                              <div class="thump">
                                  <div><img src="./assets/images/product/icon1.png" alt="product"></div>
                                  <div class="content">
                                      <h2 id="counter1">61</h2>
                                      <p>Active Bidders</p>
                                  </div>
                              </div>
                          </li>
                          <li>
                              <div class="thump">
                                  <div><img src="./assets/images/product/icon2.png" alt="product"></div>
                                  <div class="content">
                                      <h2 id="counter2">203</h2>
                                      <p>Watching</p>
                                  </div>
                              </div>
                          </li>
                          <li>
                              <div class="thump">
                                  <div><img src="./assets/images/product/icon3.png" alt="product"></div>
                                  <div class="content">
                                      <h2  id="counter3">82</h2>
                                      <p>Total Bids</p>
                                  </div>
                              </div>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
            </div>
  </section>
  <section class="section about-product ">
      <div class="nav-about-product">
          <div class="container">
          <ul>
              <li>
                  <div class="block" >
                      <img src="./assets/images/product/tab1.png" alt="product">
                      <span>Description</span>
                  </div>
              </li>
              <li>
                  <div class="block" >
                      <img src="./assets/images/product/tab2.png" alt="product">
                      <span>Delivery Options</span>
                  </div>
              </li>
              <li>
                  <div class="block" >
                      <img src="./assets/images/product/tab3.png" alt="product">
                      <span>Bid History</span>
                  </div>
              </li>
              <li>
                  <div class="block" >
                      <img src="./assets/images/product/tab4.png" alt="product">
                      <span>Question</span>
                  </div>
              </li>
          </ul>
          </div>
      </div>
      <div >
          <div class="container">
              <div class="discription">
          <h2>2012 Ford Escape Hybrid (Brooklyn, NY 11214)</h2>
          <pre>NYC Fleet / DCAS units may be located at either of two locations:
Brooklyn, NY (1908 Shore Parkway)
Medford, NY (66 Peconic Ave)
This unit is located at:
Kenben Industries Ltd.
1908 Shore Parkway
Brooklyn, NY 11214
Acceptance of condition - buyer inspection/preview
Vehicles and equipment often display significant wear and tear. Assets are sold AS IS with no warranty, express or implied, and we highly recommend previewing them before bidding. The preview period is the only opportunity to inspect an asset to verify condition and suitability. No refunds, adjustments or returns will be entertained.

Vehicle preview inspections of the vehicle can be done at the below location on Monday and Tuesday from 10am - 2pm. See Preview Rules Here.

Kenben Industries Ltd.
1908 Shore Parkway
Brooklyn, NY 11214
BUYER is responsible for all storage fees at time of pick-up. See above under IMPORTANT PICK-UP TIMES for specific requirements for this asset, but generally assets must be picked up within 2 business days of payment otherwise additional storage fees will be applied.

Legal Notice
Vehicles may not be driven off the lot except with a dealer plate affixed. By law, vehicles are not permitted to be parked on or to drive on the streets of New York without registration and plates registered to the vehicle. If the buyer cannot obtain the required registration and plates prior to pick up, they should have the vehicle towed at their own expense. The buyer should have the vehicle towed at their own expense.

Condition: Untested - Sold As-Is

Employees of Sbidu, its subcontractors and affiliated companies, employees of the NYC Government and those bidding on behalf of PropertyRoom.com, its subcontractors and affiliated companies and employees of the NYC Government are not permitted to bid on or purchase NYC Fleet/DCAS assets.

Condition
This ASSET is being listed on behalf of a law enforcement agency or other partner ("SELLER") by PropertyRoom.com on a Sold AS IS, WHERE IS, WITH ALL FAULTS basis, with no representation or warranty from PropertyRoom.com or SELLER. In many cases, the car, boat, truck, motorcycle, aircraft, mowers/tractors, etc. ("ASSET") sold on PropertyRoom.com comes from seizure or forfeiture, and the SELLER typically does not possess use-based knowledge of the ASSET. Further, PropertyRoom.com does not physically inspect the ASSET and cannot attest to actual working conditions. PropertyRoom.com and SELLER gather information about the ASSET from authoritative sources; still, errors may appear from time to time in the listing. PropertyRoom.com cautions any website user, shopper, bidder, etc. ("BUYER") to attempt to confirm, with us, information material to a bidding/purchasing decision.

Bidding
At this time Sbidu only accepts bidders from the United States, Canada and Mexico on Vehicles and Heavy Industrial Equipment. The Bid Now button will appear on auctions where you are qualified to place a bid.

Buyer Responsibility
The BUYER will receive an email notification from PropertyRoom.com following the close of an auction. After fraud verification and payment settlement, we will email the BUYER instructions for retrieving the ASSET from the Will-Call Location listed above.

All applicable shipping, logistics, transportation, customs, fees, taxes, export/import activities and all associated costs are the sole responsibility of the BUYER. No shipping, customs, export or import assistance is available from Sbidu.

When applicable for a given ASSET, BUYER bears responsibility for determining motor vehicle registration requirements in the applicable jurisdiction as well as costs, including any fees, registration fees, taxes, etc., owed as a result of BUYER registering an ASSET; for example, BUYER bears sole responsibility for all title/registration/smog and other such fees.

BUYER is responsible for all storage fees at time of pick-up. See above under IMPORTANT PICK-UP TIMES for specific requirements for this asset, but generally assets must be picked up within 2 business days of payment otherwise additional storage fees will be applied.</pre>
      </div>
          </div>
          <div class="Delivery-options">
              <div class="container">
              <h3>
                  Shipping
              </h3>
              <table>
                  <tr class="important">
                      <td>Available Delivery Methods</td>
                      <td>:Price</td>
                  </tr>
                  <tr>
                      <td>Customer Pick-up (within 10 days)</td>
                      <td style="border: none">:	$0.00</td>
                  </tr>
                  <tr class="important">
                      <td>Standard Shipping (5-7 business days)</td>
                      <td>:Not Applicable</td>
                  </tr>
                  <tr>
                      <td>Expedited Shipping (2-4 business days)</td>
                      <td>: Not Applicable</td>
                  </tr>
              </table>
              <h3>Notes</h3>
              <pre>Please carefully review our shipping and returns policy before committing to a bid. From time to time, and at its sole discretion, Sbidu may change the prevailing fee structure for shipping and handling.</pre>
          </div>
          </div>
      </div>
  </section>
<script type="text/javascript" src="assets/js/Products_Detail.js"></script>
<script type="text/javascript " src="assets/js/jquery.js"></script>
</body>
</html>