<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Sign_Up</title>
    <%-include('head.ejs')%>
</head>
<body>

<%-include('header.ejs')%>
<div class="hero-section">
    <div class="container">
        <ul class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a href="#0">Pages</a>
            </li>
            <li>
                <span>Sign Up</span>
            </li>
        </ul>
    </div>
    <div class="bg_img hero-bg bottom_center" data-background="assets/images/banner/hero-bg.png" style="background-image: url(&quot;assets/images/banner/hero-bg.png&quot;);"></div>
</div>
<section class="account-section padding-bottom">
    <div class="container">
        <div class="account-wrapper mt--100 mt-lg--440">
            <div class="left-side">
                <div class="section-header">
                    <h2 class="title">SIGN UP</h2>
                    <p>Create Acount Now ! And What Happen ?</p>
                </div>
                <ul class="login-with">
                    <li>
                        <a href="#0"><i class="fab fa-facebook"></i>Create Account with Facebook</a>
                    </li>
                    <li>
                        <a href="#0"><i class="fab fa-google-plus"></i>Create Account with Google</a>
                    </li>
                </ul>
                <div class="or">
                    <span>Or</span>
                </div>
                <form class="login-form">
                    <div class="form-group mb-30">
                        <div class="lable" style="display: flex;justify-content: space-between">
                            <div class="col_1_of_2 span_1_of_2" style="width: 40%">	<input type="text" class="text" value="First Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'First Name';}" id="active"></div>
                            <div class="col_1_of_2 span_1_of_2" style="width: 40%"><input type="text" class="text" value="Last Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Last Name';}"></div>
                            <div class="clear"> </div>
                        </div>
                    </div>
                    <div class="form-group mb-30">
                        <label for="login-email"><i class="far fa-envelope"></i></label>
                        <input type="text" id="login-email" placeholder="Email Address">
                    </div>
                    <div class="form-group mb-30">
                        <label for="login-pass"><i class="fas fa-lock"></i></label>
                        <input type="password" id="login-pass" placeholder="Password">
                        <span class="pass-type"><i class="fas fa-eye"></i></span>
                    </div>
                    <div class="form-group mb-30">
                        <label for="login-pass"><i class="fas fa-lock"></i></label>
                        <input type="password" id="login-pass" placeholder="Repeat Password">
                        <span class="pass-type"><i class="fas fa-eye"></i></span>
                    </div>
                    <div class="form-group checkgroup mb-30">
                        <input type="checkbox" name="terms" id="check"><label for="check">The The Auctions Terms of Use apply</label>
                    </div>
                    <div class="form-group mb-0">
                        <button type="submit" class="custom-button">Create Account</button>
                    </div>
                </form>
            </div>
            <div class="right-side cl-white">
                <div class="section-header mb-0">
                    <h3 class="title mt-0">ALREADY HAVE AN ACCOUNT?</h3>
                    <p>Log in and go to your Dashboard.</p>
                    <a href="sign-in.html" class="custom-button transparent">Login</a>
                </div>
            </div>
        </div>
    </div>
</section>
<%-include('footer.ejs') %>
</body>
</html>