<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Winning-Bid</title>
    <%-include('head.ejs')%>
</head>
<body>
<%- include('header.ejs')%>
<div class="hero-section style-2">
    <div class="container">
        <ul class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a href="#0">Pages</a>
            </li>
            <li>
                <span>winning Bids</span>
            </li>
        </ul>
    </div>

    <div class="bg_img hero-bg bottom_center"    style= "background-image:url(assets/images/banner/hero-bg.png)"></div>
</div>
<section class="dashboard-section padding-bottom mt--240 mt-lg--440 pos-rel">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-10 col-md-7 col-lg-4">
                <div class="dashboard-widget mb-30 mb-lg-0 sticky-menu">
                    <div class="user">
                        <div class="thumb-area">
                            <div class="thumb">
                                <img src="assets/images/dashboard/user.png" alt="user">
                            </div>
                            <label for="profile-pic" class="profile-pic-edit"><i class="flaticon-pencil"></i></label>
                            <input type="file" id="profile-pic" class="d-none">
                        </div>
                        <div class="content">
                            <h5 class="title"><a href="#0">Percy Reed</a></h5>
                            <span class="username"><a href="http://pixner.net/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="e78d888f89a7808a868e8bc984888a">[email&#160;protected]</a></span>
                        </div>
                    </div>
                    <ul class="dashboard-menu">
                        <li>
                            <a href="/profile"><i class="flaticon-settings"></i>Personal Profile </a>
                        </li>
                        <li>
                            <a href="/Mybids"><i class="flaticon-auction"></i>My Bids</a>
                        </li>
                        <li>
                            <a href="/Winning-Bid" class="active"><i class="flaticon-best-seller"></i>Winning Bids</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="dash-bid-item dashboard-widget mb-40-60">
                    <div class="header">
                        <h4 class="title">Winning Bids</h4>
                    </div>
                    <div class="button-area justify-content-between">
                        <form class="product-search">
                            <input type="text" placeholder="Item Name">
                            <button type="submit"><i class="fas fa-search"></i></button>
                        </form>
                        <div class="sort-winning-bid">
                            <div class="item">Sort By : </div>
                            <select name="sort-by" class="select-bar">
                                <option value="all">All</option>
                                <option value="name">Name</option>
                                <option value="date">Date</option>
                                <option value="type">Type</option>
                                <option value="car">Car</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row mb-30-none justify-content-center">
                    <div class="col-sm-10 col-md-6">
                        <div class="auction-item-2">
                            <div class="auction-thumb">
                                <a href="/productDetail/1"><img src="https://media.laodong.vn/Storage/NewsPortal/2019/6/10/738354/595097.jpg" alt="car"></a>
                                <a href="#0" class="rating"><i class="far fa-star"></i></a>
                                <a href="#0" class="bid"><i class="flaticon-auction"></i></a>
                            </div>
                            <div class="auction-content">
                                <h6 class="title">
                                    <a href="#0"> Lamborghini Raventado</a>
                                </h6>
                                <div class="bid-area">
                                    <div class="bid-amount">
                                        <div class="icon">
                                            <i class="flaticon-auction"></i>
                                        </div>
                                        <div class="amount-content">
                                            <div class="current">Current Bid</div>
                                            <div class="amount">$200 000.00</div>
                                        </div>
                                    </div>
                                    <div class="bid-amount">
                                        <div class="icon">
                                            <i class="flaticon-money"></i>
                                        </div>
                                        <div class="amount-content">
                                            <div class="current">Buy Now</div>
                                            <div class="amount">$300 000.00</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="countdown-area">
                                    <div class="countdown">
                                        <h4>Bought</h4>
                                    </div>
                                    <span class="total-bids">30 Bids</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-10 col-md-6">
                        <div class="auction-item-2">
                            <div class="auction-thumb">
                                <a href="/productDetail/2"><img src="https://anh.24h.com.vn/upload/1-2017/images/2017-03-09/1489042359-148904035627142-01.jpg" alt="car"></a>
                                <a href="/productDetail/2" class="rating"><i class="far fa-star"></i></a>
                                <a href="/productDetail/2" class="bid"><i class="flaticon-auction"></i></a>
                            </div>
                            <div class="auction-content">
                                <h6 class="title">
                                    <a href="/productDetail/2">Huyndai Sonata 2018 New</a>
                                </h6>
                                <div class="bid-area">
                                    <div class="bid-amount">
                                        <div class="icon">
                                            <i class="flaticon-auction"></i>
                                        </div>
                                        <div class="amount-content">
                                            <div class="current">Current Bid</div>
                                            <div class="amount">$50 000.00</div>
                                        </div>
                                    </div>
                                    <div class="bid-amount">
                                        <div class="icon">
                                            <i class="flaticon-money"></i>
                                        </div>
                                        <div class="amount-content">
                                            <div class="current">Buy Now</div>
                                            <div class="amount">$5,00.00</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="countdown-area">
                                    <div class="countdown">
                                        <h4>Bought</h4>
                                    </div>
                                    <span class="total-bids">30 Bids</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-10 col-md-6">
                        <div class="auction-item-2">
                            <div class="auction-thumb">
                                <a href="/productDetail/3"><img src="https://welovecar.vn/wp-content/uploads/2017/10/2018-nissan-x-trail-rear-wallpapers.jpg" alt="product"></a>
                                <a href="/productDetail/3" class="rating"><i class="far fa-star"></i></a>
                                <a href="/productDetail/3" class="bid"><i class="flaticon-auction"></i></a>
                            </div>
                            <div class="auction-content">
                                <h6 class="title">
                                    <a href="/productDetail/3">2018 Nissan Rogue</a>
                                </h6>
                                <div class="bid-area">
                                    <div class="bid-amount">
                                        <div class="icon">
                                            <i class="flaticon-auction"></i>
                                        </div>
                                        <div class="amount-content">
                                            <div class="current">Current Bid</div>
                                            <div class="amount">$100 000.00</div>
                                        </div>
                                    </div>
                                    <div class="bid-amount">
                                        <div class="icon">
                                            <i class="flaticon-money"></i>
                                        </div>
                                        <div class="amount-content">
                                            <div class="current">Buy Now</div>
                                            <div class="amount">$ 150 000.00</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="countdown-area">
                                    <div class="countdown">
                                        <h4>Bought</h4>
                                    </div>
                                    <span class="total-bids">30 Bids</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-10 col-md-6">
                        <div class="auction-item-2">
                            <div class="auction-thumb">
                                <a href="/productDetail/4"><img src="https://vcdn-vnexpress.vnecdn.net/2019/12/09/Porsche-911-992-3078-1575907348.jpg" alt="product"></a>
                                <a href="/productDetail/4" class="rating"><i class="far fa-star"></i></a>
                                <a href="/productDetail/4" class="bid"><i class="flaticon-auction"></i></a>
                            </div>
                            <div class="auction-content">
                                <h6 class="title">
                                    <a href="/productDetail/4">Posche 911</a>
                                </h6>
                                <div class="bid-area">
                                    <div class="bid-amount">
                                        <div class="icon">
                                            <i class="flaticon-auction"></i>
                                        </div>
                                        <div class="amount-content">
                                            <div class="current">Current Bid</div>
                                            <div class="amount">$10 000.00</div>
                                        </div>
                                    </div>
                                    <div class="bid-amount">
                                        <div class="icon">
                                            <i class="flaticon-money"></i>
                                        </div>
                                        <div class="amount-content">
                                            <div class="current">Buy Now</div>
                                            <div class="amount">$150 000.00</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="countdown-area">
                                    <div class="countdown">
                                        <h4>Bought</h4>
                                    </div>
                                    <span class="total-bids">30 Bids</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<%-include('footer.ejs')%>
</body>
</html>
