
/*Start footer*/
footer{
    background-image: url("../images/footer/footer-bg.jpg");
    background-size: cover;
    margin-top: 90px;

}
.form-footer{
    width: 100%;
    height: 330px;
    border-radius: 30px;
    padding: 30px 20px;
    box-shadow: 5px 5px 10px gray;
    display: flex;
    justify-content: space-around;
    background-color: white;
    margin-top: 200px;
}
.background-footer{
    height: 0;
}
.img-footer{
    position: relative;
    top:-31px
}
.Subcribe{
    padding-top: 60px;

}
.Subcribe input{
    border-radius: 20px;
    width: 300px;
    border: 1px solid gray;
    height: 50px;
    box-shadow: 5px 5px 10px #b1dfbb;
    text-align: center;
}
.footer-contact{
    margin-top:80px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white;
}
.footer-contact ul>li>a{
    color: white;
    line-height: 30px;
}
.footer-contact ul>li>a:hover{
    color: orange;
}
.footer-contact ul>li>a>i{
    padding-right: 10px;
}
.end-footer{
    display: flex;
    justify-content: space-between;
}
.pay-area{
    padding-top: 30px;
}
.end-footer>.pay-area ul>li{
    float: left;
    padding-right: 10px;
}
.button-submit{
    height: 50px;
    width: 170px;
    margin: 10px;
    background:linear-gradient(  90deg, #3da9f5 0%, #683df5 100%);
    border-radius: 20px;
    color: white;
    font-size: 18px;
}